img {
  height: 150px;
  width: 300px;
  padding: 5px;
  border-style:ridge;
  border-width: 4px;
  border-radius: 20px;
  border-color: black;
}

#ruby {
  display: none;
}

#javascript {
  display: none;
}

#python {
  display: none;
}